@use 'src/App.scss' as app;

@media screen and (max-width: 949px) {
  .home-carousel-preorder {
    height: 450px;
    width: 100%;
    padding-top: 10px;
  
    .swiper {
      height: 90%;
      width: calc(100% - 40px);
      padding: 0px 10px 0px 30px;
    }
  }

  .home-carousel-preorder-container {
    height: 100%;
    width: 100%;
  }

  .home-carousel-preorder-swiper {
    width: 100%;
    height: 100%;
  
    .swiper-slide {
      text-align: center;
      display: flex;
      align-items: center;
      flex-shrink: 1;
    }

    .home-carousel-preorder-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 10%;

      button {
        height: 40px;
        width: 90px;
        margin-left: 10px;
        border-radius: 7px;
      }
    }
  }
  
  .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: app.$button-color;
  }
}

@media screen and (min-width: 950px) {
  .home-carousel-preorder {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .swiper {
      height: 90%;
      width: calc(100% - 40px);
      padding: 0px 10px 0px 30px;
    }
  }

  .home-carousel-preorder-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .home-carousel-preorder-swiper {
    width: 85%;
    height: 100%;
  
    .swiper-slide {
      flex-shrink: 1;
      text-align: center;
      display: flex;
      align-items: center;
    }
  }
  
  .home-carousel-preorder-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 10%;

    button {
      margin-left: 10px;
      height: 50px;
      width: 110px;
      border-radius: 7px;
    }
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: app.$button-color;
  }
}