@use 'src/App.scss' as app;

// mobile
@media screen and (max-width: 949px) {

  .navbar-bar {
    height: 100px;
    width: 100%;
  }
  
  .burger-logo {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .navbar-account {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: app.$bar-color;
  }

  .navbar-user-logo {
    width: auto;
    height: 50%;
    img {
      height: 100%;
      width: auto;
    }
  }

  .navbar-links, .navbar-search, .navbar-logo, .navbar-logo {
    display: none;
  }

   /* BURGER MENU */
  .burger {
    height: 10px;
    width: 20px;
    display: flex;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: app.$font-color-bar;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: app.$font-color-bar;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: app.$bar-color;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 100%;
  }
  
  .bm-morph-shape {
    fill: white;
  }
  
  .bm-item-list {
    display: flex;
    flex-direction: column;
    color: app.$font-color-bar;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    margin-bottom: 20px;
  }

  // .bm-item::hover, .bm-item::focus {
  //   color: rgb(255, 255, 255);
  // }
}

// large screen
@media screen and (min-width: 950px) {

  .burger, Menu, .bm-menu, .bm-burger-button {
    display: none;
  }

  .navbar-bar {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
  }
  
  .navbar-logo {
    height: 100%;
    background: app.$bar-logo-gradiant;
    padding-left: 30px;
  }

  .logo {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }
  
  .navbar-links {
    width: 45vw;
    height: 100%;
    display: flex;
    
    h1 {
      height: auto;
      padding: 10px;
      margin: 0;
      font-size: 24px;
    }
  }

  .navbar-search {
    width: 30vw;
    display: flex;
    align-items: center;
    input {
      width: 600px;
      height: 40%;
      border-radius: 15px;
      border: none;
      background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
      background-repeat: no-repeat;
      background-position: right center;
      background-color: app.$white; 
    } 
    input::placeholder {
      color: app.$font-color;
      font-family: 'Orkney', sans-serif; 
      font-weight: bold;
      font-size: 16px;
      padding-left: 10px;
    }
  }

  .navbar-links {
    align-items: center;
    flex-direction: row;
  }

  .navbar-account {
    width: 8vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-user-logo {
    width: auto;
    height: 50%;
    img {
      height: 100%;
      width: auto;
    }
  }
}

.navbar-bar {
  display: flex;
  background: app.$bar-color;
}