$dark-blue: #272838;
$yellow: #F9D935;
$yellow-opacity: rgba(249, 216, 52, 0.815);
$white: #ffffff;
$white-background: #F9F8F8;
$black: #000000;

$bar-color: $dark-blue;
$background-color: $white-background;
$button-color: $yellow;
$font-color: $black;
$font-color-bar: $white;
$card-color: $white;
$star-color: $yellow;
$bar-logo-gradiant: linear-gradient(120deg, #F9D935 135px, rgba(249, 217, 53, 0.00) 0%);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Orkney', sans-serif;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $font-color-bar;
}

button {
  color: $font-color;
  font-family: Orkney;
  font-size: 16px;
  font-weight: 700;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  color: $font-color;
  font-family: Orkney;
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}