@use 'src/App.scss' as app;

@media screen and (max-width: 949px) {
  .product-sort-container {
    width: 30%;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: bisque;
  }
  
  .product-sort-shape {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: app.$bar-color;
    color: app.$font-color-bar;
  }

  .product-sort-shape-title {
    height: 10%;
  }
  
  .product-sort-shape-price {
    height: 10%;
  }
}

@media screen and (min-width: 950px) {
  .product-sort-container {
    width: 30%;
    height: 900px;
    display: flex;
    justify-content: center;
  }
  
  .product-sort-shape {
    width: 75%;
    height: 90%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: app.$bar-color;
    color: app.$font-color-bar;
  }

  .product-sort-shape-title {
    height: 10%;
    display: flex;
    justify-content: center;
  }

  .product-sort-price-container {
    height: 15%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .product-sort-price-slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    p {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  }

  .product-sort-licence-container {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-sort-licence-select-container {
    width: 100%;
    display: flex;
    justify-content: center;
    select {
      width: 80%;
      height: 25px;
    }
  }

  .product-sort-size-container {
    height: 15%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .product-sort-size-select-container {
    width: 100%;
    display: flex;
    justify-content: center;
    select {
      width: 80%;
      height: 25px;
    }
  }

  .price-slider {
    width: 80%;
    height: 10%;
  }

  .slider-selection {
    width: 20px;
    height: 10%;
  }
}