@use 'src/App.scss' as app;

.home-carousel-feedback-card {
  height: 295px;
  width: 225px;
  padding: 10px;
  border-radius: 12px;
  background-color: app.$card-color;
  color: app.$font-color;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.27);
}

.home-carousel-feedback-rating {
  display: inline-flex;
  height: 10%;
  width: 100%;
  color: app.$star-color;
}

.home-carousel-feedback-name {
  height: 10%;
}

.home-carousel-feedback-message {
  height: 80%;
  padding: 6px;
}